@{
    ViewBag.Title = "Home Page";
}

<<div class="jumbotron">
    <h1>EJERCICIO 2 Y 3</h1>
    <p class="lead">Agregar funcionalidades a la última aplicación para la utilización de cookies bajo las 2
        modalidades estudiadas.
    </p>
    <p><a href="~/Cookies1.aspx" class="btn btn-primary btn-lg">PROBAR COOKIES 1 &raquo;</a></p>
    <p><a href="~/Cookies2.aspx" class="btn btn-primary btn-lg">PROBAR COOKIES 2 &raquo;</a></p>
</div>

