@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EJERCICIO 1</h1>
    <p class="lead">Escriba un proyecto MVC utilizando la autenticación de ASP.Net Core 5.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saber mas &raquo;</a></p>
</div>

